name: Build and Deploy YAT

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: |
            .asdf/**
            vendor/bundle
          key: ${{ runner.os }}-cache-${{ hashFiles('**/cache.key') }}
          restore-keys: |
            ${{ runner.os }}-cache-

      - uses: jeffreytse/jekyll-deploy-action@v0.7.0
        with:
          provider: ${{ github.event_name == 'pull_request' && 'test' || 'github' }}
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          jekyll_src: ./
          jekyll_cfg: _config.yml
